body {
    background-image: url('/static/images/xxxxpizzabg.jpg');
    background-size: 33.3%;
}



.task_header {
    margin-top: 5px;
}

.heading-text{
    font-size: 54px;
    color: #ffffff;
    text-align: center;
}
.guest-text{
    text-align: center;
    color: #000000;
}


#footer-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #000;
    text-align: center;
}
.btn_small {
    height: 64px;
    width: 160px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
