{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for topping in toppings %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                </div>
                <div class=" task_header col s9">
                    <strong>{{topping.name}}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                Something in here
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}




